body {
	margin: 0;
	font-family: "Open Sans", Arial, sans-serif;
	background: #f5f6f7;
}

.display-none {
	display: none;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 50px;
	background: hsl(228, 8%, 12%);
	color: white;
	border-bottom: solid 3px hsl(228, 8%, 42%);
}

#navbar > header {
	font-size: 25px;
	text-align: center;
	padding: 15px;
}

#navbar .simplebar-scrollbar:before {
  background: white;
}

#navbar > ul {
	margin: 0;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
	/* 50px = (16px * 2) + 18px
	50px * 4px = 200px
	200px + 4px (borders) = 204px */
	height: 204px;
}

#navbar > ul li {
	list-style: none;
	border-top: 1px solid hsl(228, 8%, 27%);
	text-align: left;
}

#navbar > ul li:last-child {
	border-bottom: 1px solid hsl(228, 8%, 27%);
}

#navbar > ul li > a {
	display: block;
	color: #ccc;
	text-decoration: none;
	padding: 16px;
	padding-left: 30px;
	font-size: 16px;
	line-height: 18px;
}

#navbar > ul li > a:hover {
	color: white;
}

#main-doc {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
	position: relative;
	padding: 0 30px 0 40px;
	/* header height (59px) + ul height + nav border */
	margin-top: 266px;
}

/* Have to do top + bot padding of #main-doc this way
because simpleBar is buggy in Explorer if not */
#main-doc .simplebar-content > :first-child {
	padding-top: 30px;
}

#main-doc .simplebar-content > :last-child {
	padding-bottom: 30px;
}

@media only screen and (min-width: 1px) {
	#navbar > header {
		padding: 20px;
	}

	#navbar > ul {
		/* -69px header */
		height: calc(100% - 69px);
	}

	#navbar > ul li > a {
		padding: 20px;
	}

	#navbar {
		position: fixed;
		width: 50px;
		height: 100%;
		border-bottom: 0;
		border-right: solid 3px hsl(228, 8%, 42%);
	}

	#main-doc {
		width: calc(100% - 53px);
		position: absolute;
		/* nav width */
		margin-left: 53px;
		margin-top: 0;
	}
}