html {
	font-size: 10px;
}

body {
	margin: 0;
	font-family: "Open Sans", Arial, sans-serif;
	background: #ffffff;
	min-width: 285px;
}

:root {
	--dark: hsl(228, 8%, 12%);
	--dark-1: hsl(228, 8%, 27%);
	--dark-2: hsl(228, 8%, 42%);
}

#navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 285px;
	background: hsl(228, 8%, 12%); /* --dark */
	color: white;
	border-bottom: solid 3px hsl(228, 8%, 42%); /* --dark-2 */
}

#navbar > header {
	font-size: 2.7rem;
	text-align: center;
	padding: 20px;
}

#navbar .simplebar-scrollbar:before {
  background: white;
}

#navbar > ul {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	/* 51px = (16px * 2) + 19px
	51px * 4px = 204px
	204px + 4px (borders) = 208px */
	height: 208px;
}

#navbar > ul li {
	list-style: none;
	border-top: 1px solid hsl(228, 8%, 27%); /* --dark-1 */
	text-align: left;
}

#navbar > ul li:last-child {
	border-bottom: 1px solid hsl(228, 8%, 27%); /* --dark-1 */
}

#navbar > ul li > a {
	display: block;
	color: #ccc;
	text-decoration: none;
	padding: 16px;
	padding-left: 30px;
	font-size: 1.7rem;
	line-height: 19px;
}

#navbar > ul li > a:hover {
	color: white;
}

#page-wrapper {
	height: 100%;
	width: 100%;
	position: relative;
	display: block;
	/* 71px + 208px + 3px */
	margin-top: 282px;
}

#main-doc {
	font-size: 10px;
	max-width: 1200px;
	margin: 0 auto;
	font-family: Georgia, serif;
	color: hsl(210, 9%, 26%);
	box-sizing: border-box;
	display: block;
	padding: 10px;
}

#main-doc * {
	max-width: 900px;
}

#main-doc header {
	color: hsl(210, 9%, 18%);
	font-size: 2.95em;
	margin-bottom: 20px;
}

#main-doc section:not(:first-of-type) > header {
	margin-top: 30px;
}

#main-doc p,
#main-doc blockquote {
	line-height: 1.3;
}

#main-doc blockquote {
	font-size: 1.7em;
	margin: 0 0 0 30px;
}

#main-doc p,
#main-doc ul {
	font-size: 1.65em;
	margin: 20px 0;
}

#main-doc ul > li {
	line-height: 1.4;
}

#main-doc a {
	color: #0086b3;
	text-decoration: none;
	border-bottom: dotted 1px #0086b3;
}

#main-doc a:hover {
	color: #004e66;
}

#main-doc a:focus {
	outline: dotted 1px #0086b3;
}

#main-doc a.headerlink {
	color: #DDD;
	padding: 0 4px;
	text-decoration: none;
	visibility: hidden;
	border: 0;
	margin-left: 2px;
}

#main-doc a.headerlink:hover {
    color: hsl(210, 9%, 18%);
    background: #ededed;
}

#main-doc a.headerlink:focus {
	outline: none;
}

#main-doc header:hover a.headerlink {
	visibility: visible;
}

#main-doc .ide {
	font-size: 1.55em;
	background: #272822;
	width: 100%;
	color: #f8f8f2;
}

.ide .a { color: #fd971f } /* Argument */
.ide .d { color: #f8f8f2; } /* Dot */
.ide .k { color: #f92672 } /* Keyword */
.ide .n { color: #f8f8f2 } /* Name */
.ide .o { color: #f92672 } /* Operator */
.ide .p { color: #f8f8f2; } /* Punctuation */
.ide .go { color: #c2c2c2 } /* Generic.Output */
.ide .gp { color: #f92672 } /* Generic.Prompt */
.ide .kc { color: #ae81dd } /* Keyword.Constant */
.ide .kn { color: #f92672 } /* Keyword.Namespace */
.ide .nb { color: #66d9ef } /* Name.Builtin */
.ide .nn { color: #f8f8f2 } /* Name.Namespace */
.ide .ow { color: #f92672 } /* Operator.Word */
.ide .me { color: #66d9ef; } /* Method */
.ide .mf { color: #ae81dd } /* Literal.Number.Float */
.ide .mi { color: #ae81dd } /* Literal.Number.Integer */
.ide .se { color: #ae81dd } /* Literal.String.Escape */
.ide .s1 { color: #e6db74 } /* Literal.String.Single */

#main-doc .ide,
#main-doc code {
	font-family: 'Consolas',
	monospace,
	'Menlo'
	'DejaVu Sans Mono',
	'Bitstream Vera Sans Mono';
}

#main-doc .ide > pre {
	line-height: 1.3;
	padding: 13px;
	margin: 0;
	overflow-x: auto;
	overflow-y: hidden;
}

#main-doc code {
	color: black;
	background: #ecf0f3;
}

#main-doc code.xref {
	font-weight: bold;
	background: #f7f7f7;
	border-bottom: dotted 1px #ffffff;
}

#main-doc code.xref:not(.nolink):hover {
	background: #ededed;
}

#main-doc .note {
	margin: 20px 0;
	padding: 10px 30px;
}

#main-doc .note-title {
	font-size: 2.4rem;
	line-height: 1;
	margin: 0 0 10px 0;
}

#main-doc .note-body {
	margin: 20px 0 0 0;
}

#main-doc .note.amber {
	background: rgb(255, 245, 156);
	border: solid 1px #ccc;
}

#main-doc .note.warning {
	background: #fcc;
	border: solid 1px #faa;
}

#main-doc .note.neutral {
	background: #eee;
	border: solid 1px #ccc;
}

@media only screen and (min-width: 320px) {
	#main-doc {
		padding: 20px;
	}
}

@media only screen and (min-width: 600px) {
	/* Adjust font-size because headerlink causes
	premature wrapping */
	#main-doc header {
		font-size: 3.05em;
	}

	#main-doc {
		font-size: 11px;
	}
}

@media only screen and (min-width: 815px) {
	#navbar > ul {
		/* -71px header */
		height: calc(100% - 71px);
	}

	#navbar > ul li > a {
		padding: 20px;
	}

	#navbar {
		position: fixed;
		width: 300px;
		height: 100%;
		border-bottom: 0;
		border-right: solid 3px hsl(228, 8%, 42%); /* --dark-2 */
	}

	#main-doc {
		padding: 30px;
	}

	#page-wrapper {
		position: absolute;
		width: calc(100% - 303px);
		/* nav width */
		margin-left: 303px;
		margin-top: 0;
	}
}

/* 900px + 60px padding left, right + nav width + 15px scrollbar */
@media only screen and (min-width: 1278px) {
	#main-doc .ide {
		width: 900px;
	}
}