html {
	font-size: 10px;
}

body {
	margin: 0;
	font-family: "Open Sans", Arial, sans-serif;
	background: #ffffff;
	min-width: 285px;
}

:root {
	--dark: hsl(228, 8%, 12%);
	--dark-1: hsl(228, 8%, 27%);
	--dark-2: hsl(228, 8%, 42%);
}

.display-none {
	display: none;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 285px;
	background: hsl(228, 8%, 12%); /* --dark */
	color: white;
	border-bottom: solid 3px hsl(228, 8%, 42%); /* --dark-2 */
}

#navbar > header {
	font-size: 2.7rem;
	text-align: center;
	padding: 20px;
}

#navbar .simplebar-scrollbar:before {
  background: white;
}

#navbar > ul {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	/* 51px = (16px * 2) + 19px
	51px * 4px = 204px
	204px + 4px (borders) = 208px */
	height: 208px;
}

#navbar > ul li {
	list-style: none;
	border-top: 1px solid hsl(228, 8%, 27%); /* --dark-1 */
	text-align: left;
}

#navbar > ul li:last-child {
	border-bottom: 1px solid hsl(228, 8%, 27%); /* --dark-1 */
}

#navbar > ul li > a {
	display: block;
	color: #ccc;
	text-decoration: none;
	padding: 16px;
	padding-left: 30px;
	font-size: 1.7rem;
	line-height: 19px;
}

#navbar > ul li > a:hover {
	color: white;
}

#page-wrapper {
	height: 100%;
	width: 100%;
	position: relative;
	display: block;
	/* 71px + 208px + 3px */
	margin-top: 282px;
}

#main-doc {
	font-size: 10px;
	max-width: 1300px;
	margin: 0 auto;
	font-family: Georgia, serif;
	color: hsl(210, 9%, 26%);
	box-sizing: border-box;
	display: block;
	padding: 20px;
}

#main-doc header {
	color: hsl(210, 9%, 18%);
	font-size: 2.95em;
	margin-bottom: 20px;
}

#main-doc section:not(:first-of-type) > header {
	margin-top: 25px;
}

#main-doc p,
#main-doc ul {
	font-size: 1.85em;
	margin: 20px 0;
}

#main-doc ul > li {
	line-height: 1.4;
}

#main-doc a {
	color: #0086b3;
	text-decoration: none;
	border-bottom: dotted 1px #0086b3;
}

#main-doc a:hover {
	color: #004e66;
}

#main-doc a:focus {
	outline: dotted 1px #0086b3;
}

#main-doc a.headerlink {
	color: #DDD;
	padding: 0 4px;
	text-decoration: none;
	visibility: hidden;
	border: 0;
	margin-left: 2px;
}

#main-doc a.headerlink:hover {
    color: hsl(210, 9%, 18%);
    background: #ededed;
}

#main-doc a.headerlink:focus {
	outline: none;
}

#main-doc header:hover a.headerlink {
	visibility: visible;
}

#main-doc .ide {
	font-size: 1.6em;
	background: #272822;
	width: 100%;
}

#main-doc .ide,
#main-doc code {
	font-family: 'Consolas',
	monospace,
	'Menlo'
	'DejaVu Sans Mono',
	'Bitstream Vera Sans Mono';
}

#main-doc .ide > pre {
	line-height: 1.2;
	padding: 13px;
	margin: 0;
	overflow-x: auto;
	overflow-y: hidden;
}

#main-doc code {
	color: black;
	background: #ecf0f3;
}

#main-doc code.xref {
	font-weight: bold;
	background: #f7f7f7;
	border-bottom: dotted 1px #ffffff;
}

#main-doc code.xref:hover {
	background: #ededed;
}

@media only screen and (min-width: 600px) {
	#main-doc {
		font-size: 11px;
	}
}

@media only screen and (min-width: 815px) {
	#navbar > ul {
		/* -71px header */
		height: calc(100% - 71px);
	}

	#navbar > ul li > a {
		padding: 20px;
	}

	#navbar {
		position: fixed;
		width: 300px;
		height: 100%;
		border-bottom: 0;
		border-right: solid 3px hsl(228, 8%, 42%); /* --dark-2 */
	}

	#main-doc {
		padding: 30px;
	}

	#page-wrapper {
		position: absolute;
		width: calc(100% - 303px);
		/* nav width */
		margin-left: 303px;
		margin-top: 0;
	}
}

/* 900px + 60px padding left, right + nav width + 15px scrollbar */
@media only screen and (min-width: 1278px) {
	#main-doc .ide {
		width: 900px;
	}
}